<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'ccs/style.css'%}">
    <title>Ev1 Backend</title>
</head>
<body class="container">
    <div class="alert alert-warning text-center display-1"><img src="{% static 'img/Logo.png' %}" alt="" width="100px">Instrumentos Musicales</div>
    <div class="row">
        <div class="col"><a href="{% url 'viento' %}" class="btn btn-info w-100 p-3">Viento</a></div>
        <div class="col"><a href="{% url 'cuerda' %}" class="btn btn-danger w-100 p-3">Cuerda</a></div>
        <div class="col"><a href="{% url 'percusion' %}" class="btn btn-warning w-100 p-3">Percusion</a></div>
        <div class="col"><a href="{% url 'usuario' %}" class="btn btn-success w-100 p-3">Usuario</a></div>
    </div>
    
    
</body>
</html>