<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'ccs/style.css'%}">
    <link rel="shortcut icon" href="{% static 'img/Logo.png' %}" type="image/x-icon">
    <title>Ev1 Backend</title>
</head>
<body class="container">
    <div class="alert alert-warning text-center display-2 mt-5"><img src="{% static 'img/Logo.png' %}" alt="" width="150px">Instrumentos Musicales</div>
    <div class ='alert alert-dark text-center'><strong>{{titulo}}</strong></div>
    <div class="row text-light" >
      <h1>Información Usuario </h1>
      <ul>
        <img src="{% static 'img/programador.png' %}" alt="" width="100px"><br>
          <li>id : {{ID}}</li>
          <li>Nombre : {{nombre}}</li>
          <li>Apellidos : {{apellido}}</li>
          <li>Telefono : {{telefono}}</li>
          <li>email : {{email}}</li>
      </ul>
    </div><br>
    <a href="{% url 'index' %}"class="btn btn-info"><i class="bi bi-chevron-double-left"></i>Volver</a><br>

    <footer class="text-center text-white" >
     
      <!-- Copyright -->
      <div class="text-center mt-5" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">P.G.A. Design</a>
      </div>
      <!-- Copyright -->
    </footer>
    
</body>
</html>