{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    
    <title>Proyecto6</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body class="container mt5">
    <div class=" alert alert-success display-5 text-center">
        SISTEMA PROYECTO 6      
    </div>
    {% if proyecto  %}

    <table class="table table-hover table-bordered border-dark text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Nombre</th>
                <th>Responsable</th>
                <th>Prioridad</th>
                <th>-</th>
                
                
            </tr>

        </thead>
        <tbody>
            {% for proy in proyecto %}
            <tr>
                <td>{{proy.id}}</td>
                <td>{{proy.fechaInicio}}</td>
                <td>{{proy.fechaTermino}}</td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.responsable}}</td>
                <td>{{proy.prioridad}}</td>
                <td><a href="/eliminar/{{proy.id}}" class ='btn btn-danger btn-sm'><i class="bi bi-trash3"></i></a>         
                <a href="/modificar/{{proy.id}}" class ='btn btn-success btn-sm'><i class="bi bi-pencil-square"></i></a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

        <a href="/" class="btn btn-success">Volver</a>

</body>
</html>